* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;


  /* new code */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: grey;
  border: 10px solid rgb(137, 102, 189);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* margin: 20px; */
  padding: 0;
}

.square {
  background: #c27751;
  border: 2px solid #0e0303;
  color: white;
  float: left;
  font-size: 32px;
  font-weight: bold;
  /* line-height: 34px; */
  /* height: 34px; */
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  /* width: 34px; */

  /*Change height & width */
  height: 100px;
  width: 100px;
  line-height: 80px; 
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


/* new styles for X && O */
.player-x {
  color: rgba(224, 14, 10, 0.928);
  font-weight: 600;
}

.player-o {
  color: rgb(28, 63, 204);
}


.current-move {
  padding: 0.5rem;
  background: rgba(84, 212, 49, 0.828);
  margin-bottom: 0.3rem;
}

.winner-message {
  display: inline-block;
  font-size: larger;
  font-weight: 700;
  color: yellow;
}


.draw-message {
  display: inline-block;
  font-size: larger;
  font-weight: 700;
  color: rgb(253, 153, 72);
}


.game {
  border: 4px inset rgb(32, 80, 212);
}

.game-board {
  box-sizing: border-box;
  padding: 2rem;
  border-right: 6px inset rgb(107, 48, 48);
  background-color: rgba(165, 42, 42, 0.874);
}


.status-message {
  font-size: large;
  color: rgb(95, 223, 227);
}


.game-info {
  padding: 2rem;
}